select{
 border-radius: 15px;   
padding: 5px;
}

#zodiacSymbol{
    width: 150px;
    height: 150px;
}
#submitRat{
    margin-left: 50px;
}

#rating-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
    display: inline-block;
}

/* Mouse-over effects */
#rating-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#rating-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #007BFF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#rating-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #007BFF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#rating img{
     display: inline-block;
    width: 75px;
    height: auto;
    margin-left: 20px;
}

#nextDiv {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#nextDiv .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
#nextDiv .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#nextDiv:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#search-section{
    display: inline-block;
    text-align: center;
    margin-left: 300px;
}

#sign-section{
    display:block;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

#horoscope img{
    border: none;
    display: block;
    margin: 0 auto;
}

#sign{
    margin-left: 20px;
}

@media only screen and (max-width: 990px) {
  #search-section {
    margin: auto;
      display: block;
      width: 80%;
      float: none;
      margin-top: 50px;
  }
    #sign-section{
        margin: auto;
        display: block;
        float: none;
        width: 80%;
        text-align: center;
    }
}