* {
    font-family: 'Gluten', cursive;
}
body {
    background-color: #097FDB;
    
}
#app {
    text-align: center;
    line-height: 2.5em;
    position: relative;
    overflow-x:hidden;
}

button {
    background-color: #065694;
    padding: 10px 20px 10px 20px;
    border-radius: 25%;
    margin: 2%;
    box-shadow: 2px 2px 1px #043D69;
    min-width: 10%;
    font-size: 30px;
    height: auto;
}

button:not([disabled]) {
    background-color: #097FDB;
    padding: 10px 20px 10px 20px;
    border-radius: 25%;
    margin: 2%;
    box-shadow: 5px 5px 2px #043D69;
    transition: .1s linear;
}

button:not([disabled]):hover {
    cursor: pointer;
    transform: scale(.95,.95);
    transform: translate(2px,2px);
    box-shadow: 2px 2px 1px #043D69;
}
hr {
    width: 75%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.menu.button{
    border-radius: 50%;
    margin-top: 50px;
}

#next-button{
    padding-top: 2px;
}

.content {
    border: 2px solid black;
    width: 75%;
    margin: auto;
    margin-top:50px;
    min-height: 800px;
    border-radius: 20px;
    z-index: 10;
    position: relative;
    background-color: white;
    align-content: center;
    padding-top: 2%;
}


#app-title {
    font-size: 80px;
    color: #097FDB;
    transition-delay: 2000ms;
}

@keyframes bounce {
    from, 20%{
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0) scaleY(115%);
    }
    53%, 80% {
        transform: translate3d(0, 0, 0) scaleY(75%);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -50px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -25px, 0);
    }

    90% {
        transform: translate3d(0, -8px, 0);
    }
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0) scaleY(100%);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes spin{
    from {
        transform: translate(-100%,0);
        transform: scale(100%,100%)
    }

    40% {
        transform: translate(-20%,0);
        transform: scale(150%,100%);
    }

    25% {
        transform: translate(-5%,0);
        transform: scale(-90%,100%);
    }

    to {
        transform: translate(0,0);
        transform: scale(100%,100%);
    }
}
.spin {
    animation-name: spin;
    transform-origin: center bottom;
}

@keyframes slideInLeft{
    from {
        transform: translateX(-100%) skewX(50deg);
    }
    60% {
        transform: translateX(25%) skewX(-30deg);
    }
    to {
        transform: translateX(0) skewX(0);
    }
}

.slideInLeft{
    animation-name:slideInLeft;
    transform-origin:center bottom;
}



.welcome-title-appear{
    opacity: 0;
}

.welcome-title-appear.welcome-title-appear-active{
    opacity: 1;
    transition: all 2s ease-out;
    animation:  spin 2s;
}

#welcome-div{
    position:relative;
    width: 100%;
    height: 100px;
}

.input-fade-in-appear{
    opacity: 0;
}

.input-fade-in-appear.input-fade-in-appear-active{
    opacity: 1;
    transition: .5s ease-out opacity;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#input-div {
    width: 100%;
    margin: auto auto auto auto;
    height: auto;
    line-height: 4em;
    font-size: 25px;
    transition-delay: 2000ms;
}
    #input-div input {
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
        border: solid 1px;
        background-color: #D1D7E8;
    }

    #input-div select {
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
        border: solid 1px;
        background-color: #D1D7E8;
        min-height: 27px;
    }
    #input-div select:hover{
        cursor: pointer;
    }

    #input-div select::-webkit-scrollbar{
        width: 15px;
    }

    #input-div select::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        border-radius: 10px;
    }
    #input-div select::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        border-radius: 10px;
        background-color: #BCC2D1;
    }

#escape{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    min-width: 42px;
    height: 42px;
    padding: 2px;
    margin: 0;
    text-align: center;
    line-height: 42px;
}

#timer-wrap {
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#timer-wrap div{
    margin-left: auto;
    margin-right: auto;
}

#question-wrap{
    text-align: center;
}

#question-info{
    animation: slideInLeft 1s;
}

.question-anim-appear{
    opacity: .1;
}
.question-anim-appear.question-anim-appear-active{
    opacity: 1;
    transition: .5s ease-in-out opacity;
}

@keyframes grow{
    from{
        transform: scale(5%, 5%) rotateZ(1440deg);
    }
    to{
        transform: scale(100%, 100%);
    }
}

.grow{
    animation-name: grow;
    transform-origin: center bottom;
}




#answers {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.answer{
    opacity: 1;
}

.answer.active{
    opacity: 0;
}

.answer.active.grow-anim {
    opacity: 1;
    animation: grow 1s;
    animation-iteration-count: 1;
}

.answer.active.answer-ready{
    opacity: 1;
}

#answers button {
    width: 80%;
    height: auto;
    font-size: 45px;
    padding: 20px 7px 20px 4px;
}

#answers .mult-choice{
    width: 40%;
    margin: 10px 5% 10px 5%;
}

@keyframes haloMove{
    from {
        box-shadow: -0px -15px 10px 5px #0ff;
    }
    25% {
        box-shadow: -15px 0px 15px 10px #0ff;
    }
    50% {
        box-shadow: 0px 15px 20px 15px #0ff;
    }
    75% {
        box-shadow: 15px 0px 15px 10px #0ff;
    }
    to {
        box-shadow: 0px -15px 10px 5px #0ff;
    }
}
.haloMove{
    animation-iteration-count:infinite;
    animation-name: haloMove;
    transform-origin: center bottom;
}
#answers button:not([disabled]):hover {
    animation: haloMove linear 3s;
    animation-iteration-count: infinite;
}
#answers button:active {
    transition: ease-in-out .25s all;
    transform: scale(110%);
    box-shadow: 0px 0px 40px 20px #0ff;
}

.player-answer.right-answer {
    transform: scale(110%);
    box-shadow: 0px 0px 40px 20px #0ff;
}

.player-answer.wrong-answer {
    transform: scale(110%);
    box-shadow: 0px 0px 40px 20px #0ff;
}


.right-answer {
    color: black;
    background-color: #18A835;
    box-shadow: 2px 2px 1px #0F6B21;
    animation: bounce 1s;
}

.wrong-answer {
    background-color: #E52809;
    box-shadow: 2px 2px 1px #5E1004;
}



#score {
    font-size: 120px;
    color: #097FDB;
}
#end-response{
    font-size: 40px;
}


